<h1>  <%= @tasks.title %> </h1>
<p> <%= @tasks.details %></p>
<%= link_to " Retour à la liste  ", tasks_path %>

<div>
  <button class = "btn btn-outline-secondary" type= "button">
<p> <%= link_to "EDIT", edit_path %> </p>
  </button>
</div>
